<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.platzi.platzigram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".PlatzigramApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.platzi.platzigram"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity android:name=".login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.view.CreateAccountActivity"
            android:parentActivityName=".login.view.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.view.LoginActivity" />
        </activity>
        <activity android:name=".view.ContainerActivity" />
        <activity
            android:name=".post.view.PictureDetailActivity"
            android:parentActivityName=".view.ContainerActivity">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContainerActivity" />
        </activity>
        <activity android:name=".post.view.NewPostActivity" />
    </application>

</manifest>